fieldset,
.fieldset {
	padding-bottom:0.4rem;
    position: relative;
    input:not([type=checkbox]):not([type=radio]){
		padding-top:0;
		padding-bottom:0;
		+ label {
			color: #757575;
			position: absolute;
			top: 0.3rem;
			left: 0;
			font-size: 1rem;
			cursor: text;
			@include transition(.2s ease-out);
			&.active {
				font-size: $label-font-size;
				@include transform(translateY(-100%));
			}
		}
	}
	
	input[type=checkbox],
	input[type=radio]{
		+ label{
			left: 3rem;
		}
	}
	
	select.form-control:not([size]):not([multiple]){
		height: 1.4rem;
		padding: 0;
		margin-top: 0;
		
		&:focus{
			outline: 0;
		}
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000; 
		}
	}
	
	.icon-prefix{
		margin-top: 0.2rem;
		margin-bottom: 1rem;
		position: absolute;
		width: 3rem;
		font-size: 2rem;
		@include transition(color .2s);
		&.active {
			color: $input-focus-color;
		}
		
		~ input,
		~ textarea {
			margin-left: 3rem;
			width: 92%;
			width: calc(100% - 3rem);
		}
		~ textarea {
			padding-top: .8rem;
		}
		~ label {
			margin-left: 3rem;
		}
		~ input {
			@media #{$medium-and-down} {
				width: 86%;
				width: calc(100% - 3rem);
			}
			@media #{$small-and-down} {
				width: 80%;
				width: calc(100% - 3rem);
			}
		}
	}
	
	/*
    &.input-group {
        .form-control {
            margin: 0;
            padding-left:1rem;
            @include placeholder {
                color: #999;
                padding-top: 2px;
            }
        }
    }
    */
}