.material-icons{
	font-size: inherit;
}
.fs24{
	font-size: 24px;
}

.m-fieldset .icon-prefix {
	position: absolute;
	width: 3rem;
	font-size: 2rem;
	@include transition(color .2s);
	&.active {
		color: $input-focus-color;
	}
	
	~ input,
	~ textarea {
		margin-left: 3rem;
		width: 92%;
		width: calc(100% - 3rem);
	}
	~ textarea {
		padding-top: .8rem;
	}
	~ label {
		margin-left: 3rem;
	}
	~ input {
		@media #{$medium-and-down} {
			width: 86%;
			width: calc(100% - 3rem);
		}
		@media #{$small-and-down} {
			width: 80%;
			width: calc(100% - 3rem);
		}
	}
}