%input-field-label{
	color: #757575;
	position: absolute;
	top: 0.3rem;
	margin-left: 15px;
	left: 0;
	font-size: 1rem;
	cursor: text;
	@include transition(transform .2s ease-out);
}
%input-field-label-up{
	font-size: $label-font-size;
	@include transform(translateY(-100%));
}

.input-field {
	padding-bottom:0.4rem;
	margin-top: 1rem;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float:left;
    width: 100%;

    > *{
		float: left;
		position: relative;
	}

	&,
	.col-1 &, .col-2 &, .col-3 &, .col-4 &, .col-5 &, .col-6 &, .col-7 &, .col-8 &, .col-9 &, .col-10 &, .col-11 &, .col-12 &, .col &, .col-sm-1 &, .col-sm-2 &, .col-sm-3 &, .col-sm-4 &, .col-sm-5 &, .col-sm-6 &, .col-sm-7 &, .col-sm-8 &, .col-sm-9 &, .col-sm-10 &, .col-sm-11 &, .col-sm-12 &, .col-sm &, .col-md-1 &, .col-md-2 &, .col-md-3 &, .col-md-4 &, .col-md-5 &, .col-md-6 &, .col-md-7 &, .col-md-8 &, .col-md-9 &, .col-md-10 &, .col-md-11 &, .col-md-12 &, .col-md &, .col-lg-1 &, .col-lg-2 &, .col-lg-3 &, .col-lg-4 &, .col-lg-5 &, .col-lg-6 &, .col-lg-7 &, .col-lg-8 &, .col-lg-9 &, .col-lg-10 &, .col-lg-11 &, .col-lg-12 &, .col-lg &, .col-xl-1 &, .col-xl-2 &, .col-xl-3 &, .col-xl-4 &, .col-xl-5 &, .col-xl-6 &, .col-xl-7 &, .col-xl-8 &, .col-xl-9 &, .col-xl-10 &, .col-xl-11 &, .col-xl-12 &, .col-xl & {
		.prefix{
			~ label {
				margin-left: calc(3rem + 15px);
				width: calc(100% - 3rem - 15px);
			}
		}
	}

	textarea{
		+ label {
			@extend %input-field-label;
			top: 1rem;
		}
		&:required{
			box-shadow: none;
		}
	}
    input{
		padding-top:0;
		padding-bottom:0;

		&[placeholder]{
			+ label {
				@extend %input-field-label-up;
			}
		}
		+ label {
			@extend %input-field-label;
		}

		&[type=checkbox],
		&[type=radio]{
			+ label{
				position: relative;
				margin-left: 3rem;
				&[for]{
					cursor: pointer;
				}
			}
		}

	}


	select.form-control:not([size]):not([multiple]){
		padding: 0;
		margin-top: 0;

		&:focus{
			outline: 0;
		}
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
	}

	&.active {
		.prefix{
			color: $input-focus-color;
		}
		input:not([type=checkbox]):not([type=radio]),
		textarea{
			+ label {
				@extend %input-field-label-up;
			}
		}
	}

	.prefix{
		margin-top: 0.4rem;
		width: 3rem;
		font-size: 2rem;
		@include transition(color .2s);

		~ input,
		~ textarea {
			width: calc(100% - 3rem);
		}
		~ textarea {
			padding-top: .8rem;
		}
		~ input {
			@media #{$medium-and-down} {
				width: 86%;
				width: calc(100% - 3rem);
			}
			@media #{$small-and-down} {
				width: 80%;
				width: calc(100% - 3rem);
			}
		}
	}

	&.animated-bar{
		input:not([type=checkbox]):not([type=radio]),
		textarea.m-textarea{
			&:focus:not([readonly]){
				border-bottom: 1px solid $input-border-color;
				box-shadow: none;
			}
		}
		.bar{
			width: 100%;
			position:relative;
			display:block;
			&:before,
			&:after   {
				content:'';
				height:2px;
				width:0;
				bottom:0;
				position:absolute;
				background:$primary-color;
				@include transition(width .4s ease);
			}
			&:before {
				left:50%;
			}
			&:after {
				right:50%;
			}
		}
		input:focus ~ .bar{
			border-bottom: 0;
			&:before,
			&:after {
				width:50%;
			}
		}
		.prefix ~ .bar{
			width:calc(100% - 3rem);
			margin-left: 3rem;
		}
	}

	&.has-danger > *{
		color: $input-error-color !important;
		&.bar{
			&:before,
			&:after   {
				background: $input-error-color;
				width:50%;
			}
		}
	}
	&.has-success > *{
		color: $input-success-color !important;
		&.bar{
			&:before,
			&:after   {
				background: $input-success-color;
				width:50%;
			}
		}
	}
	
	&.validate{
		padding-bottom:1.4rem;
	}
	
	> .form-control-feedback {
		position: absolute;
		left: 0;
		bottom: -0.2rem;
		margin-left: 15px;
	}

}
