a.waves-effect{
	&:hover,
	&:focus,
	&:active{
		text-decoration:none;
	}
}
.waves-square {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
}
.waves-square-sm {
    text-align: center;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
}